<div class='six wide column' id='contacts_list'>
  <table class='ui very basic table'>
    <thead><tr>
      <th colspan='2'>
        <span>Emergency Contact Numbers</span>
        <div class='small right floated ui basic buttons'>
          <button id='edit_contacts' class='ui button'>
            Edit
          </button>
          <button id='safety_test' class='ui primary button'>
            Test
          </button>
        </div>
      </th>
    </tr></thead>
    <tbody>
      <% contacts.each do |contact| %>
        <tr>
          <td><%= contact[:name] %></td>
          <td class='right aligned'><%= contact[:phone] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
