<div class='six wide column' id='contacts_list'>
  <table class='ui very basic table'>
    <thead><tr>
      <th colspan='2'>
        Emergency Contact Numbers
        <button id='edit_contacts' class='ui right floated small button'>
          Edit
        </button>
      </th>
    </tr></thead>
    <tbody>
      <% contacts.each do |contact| %>
        <tr>
          <td><%= contact[:name] %></td>
          <td class='right aligned'><%= contact[:phone] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
