<div class="ui grid">
  <div class="row">
    <h1 class="ui huge dividing header">TDC Makerspace Emergency System</h1>
  </div>
  <div class="row">
    <%= render partial: 'contacts', locals: {contacts: @contacts} %>
    <div class="ten wide column">
      <table class='ui very basic table'>
        <thead>
          <tr><th colspan='2'>
            Recent Emergencies
            <button id='safety_test' class='ui right floated compact button'>
              Send Test SMS
            </button>
          </th></tr>
        </thead>
        <tbody>
        <% @emergencies.each do |emergency| %>
          <tr>
            <td><%= emergency[:time] %></td>
            <td><%= emergency[:link] %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div id='contacts_form_container' class='row'>
    <div id='contacts_form' class='six wide column'>
    <%= render partial: 'contact_form', locals: {contacts: @contacts, new_contact: @new_contact} %>
    </div>
  </div>
</div>

